body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-data {
  background-color: white;
  border-radius: 1.5em;
  margin: 2em;
}
.post {
  margin: 1em;
  padding: 1em;
}
.post-header {
  height: 25px;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date-info {
  margin: 1em;
  width: 50%;
  float: right;
}
.create-date,
.update-date {
  float: right;
  width: 25%;
  font-weight: bold;
  font-size: 0.9em;
}
